@media   (min-width: 768px) and (max-width: 959px) {

}

@media  (max-width:767px) {
header {
    h2 {
        .nyt-logo {
            width: 100%;
            padding-left: 10vw;
            image {
                width: 80vw;
            }
        }
    }
}
section {
    .nyt-row {
        flex-direction: column;
        border-bottom: 0;
        padding: 0;
        div {
            &.nyt-col-1,
            &.nyt-col-2 {
                width: 100%;
                padding: 2%;
                border-bottom: 1px solid #eee;
            }
        }
    }
}
}